
.blog-details-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    padding: 50px 20px 0; 
    min-height: 87vh;
    margin-top: 8vh;
    gap: 30px;
    
}

.blog-details-cont {
    width: 75%; 
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
   
}

.related-blogs {
    width: 38%;
    border-radius: 8px;
    padding-top: 15px;
   
} 
.related-blogs-heading{
    margin-bottom: 20px;
}

.blog-details-title{
    font-size: 1.6rem; 
    margin-bottom: 15px;
}

.related-blog-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.related-blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.related-blog-card-content {
    padding: 15px;
}

.realted-content-title {
    margin-top: 5px;
    font-weight: 300;
    font-size: 1rem;
}

.related-blog p {
    color: #888;
    font-size: 0.9rem;
}

.related-cont{
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #888;

}

.realted-content-logo-cont{
    margin-left: 10px;
}

.blog-top-info {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #888;
}

.blog-top-info .blog-content {
    margin-left: 10px;
}


.blog-top-info p {
    margin: 0;
    margin-bottom: 5px;
}
.admin-title{
    font-weight: 600;
    
}
.blog-logo {
    width: 50px;
    height: 50px;
}

.blog-image-cont {
    width: 95%;
    height: 300px; 
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
    .blog-details-container {
        flex-direction: column;
        padding-top: 50px;
    }

    .blog-details-cont {
        width: 100%;
        margin-bottom: 30px;
    }

    .related-blogs {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .blog-details-container {
        padding: 20px 10px;
    }

    .blog-details-cont,
    .related-blogs {
        padding: 15px;
    }

    .related-blog-logo {
        height: 120px; 
    }

    .blog-image-cont {
        height: 200px; 
    }
}

@media (max-width: 576px) {
    .blog-top-info{
        padding-top: 40px;
    }
    .related-blog-logo {
        height: 100px; 
    }

    .blog-top-info p {
        font-size: 0.8rem;
    }

    .related-blog h4 {
        font-size: 1rem;
    }
    .blog-details-container{
        margin-top: 20px;
    }
}

.blog-keywords {
    margin-top: 20px;
}

.keyword-container {
    display: flex;
    flex-wrap: wrap; 
}

.keyword {
    background-color: #EB6A4D; 
    color: white; 
    padding: 5px 10px; 
    margin: 5px; 
    border-radius: 4px; 
    font-weight: bold;
    font-size: 14px; 
}



.keyword::after {
    content: ''; 
}

