* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.ql-container {
  min-height: 100px!important;
}

.ql-snow {
  border: none!important;
}

.ql-toolbar {
  border-bottom: 1px solid #EB6A4D!important;
}

::selection {
  background-color: rgba(235, 105, 77, 0.85);
  color: white;
}

.sticky-side-contact-button {
  position: fixed;
  top: 50%;
  right: -35px;
  z-index: 1000;
  transform: rotate(270deg);
  background-color: #EB6A4D;
  color: white;
  padding: 15px 20px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  margin-bottom: 0px;
}