.public-job-details-con {
    margin-top: calc(15vh + 40px)!important;
    min-height: calc(85vh - 40px)!important;
}

@media screen and (max-width: 768px) {
    .public-job-details-con {
        margin-top: calc(10vh + 30px)!important;
        min-height: calc(90vh - 30px)!important;
    }
    
}