.openings-page-container {
    margin-top: 15vh!important;
    min-height: 85vh!important;
}

@media screen and (max-width: 768px) {
    .openings-page-container {
        margin-top: 10vh!important;
        min-height: 90vh!important;
    }
    
}