.hiring-partner-req-page-content-con {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 30px 6%;
}

.hiring-partner-req-heading {
    font-size: 30px;
    font-weight: 600;
    color: #EB6A4D;
    margin-bottom: 20px;
}

.hiring-partner-req-page-content {
    width: 70%;
    overflow-x: auto;
}

.hiring-partner-req-table {
    width: 100%;
    border-collapse: collapse;
}

.hiring-partner-req-btn {
    width: fit-content;
    border: 0px;
    background-color: #EB6A4D;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 6px 15px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .hiring-partner-req-page-content-con {
        margin-top: 10vh;
        padding: 20px 5%;
    }

    .hiring-partner-req-heading {
        font-size: 22px;
    }

    .hiring-partner-req-page-content {
        width: 100%;
    }
}