.complaint-details-con {
    margin-top: 15vh;
    min-height: 85vh;
    padding: 20px 10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.complaint-details-heading {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #EB6A4D;
    border-bottom: 3px solid #EB6A4D;
    padding-bottom: 2px;
}

.complaint-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.complaint-details-item {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.complaint-details-subhead {
    font-size: 18px;
    font-weight: 600;
    color: #EB6A4D;
    margin-right: 10px;
    width: 180px;
}

.complaint-details-text {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.complaint-details-message-heading {
    font-size: 20px;
    font-weight: 600;
    color: #EB6A4D;
    margin-top: 20px;
    margin-bottom: 10px;
}

.complaint-details-text2 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 1.6;
    padding-left: 20px;
}

.complaint-details-image {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
}

.complaint-details-btn {
    margin: 20px 0px;
    align-self: flex-end;
    padding: 8px 16px;
    background-color: #EB6A4D;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .complaint-details-con {
        padding: 15px 5%;
        margin-top: 10vh;
        min-height: 90vh;
    }

    .complaint-details-heading {
        font-size: 20px;
    }

    .complaint-details {
        margin-top: 0px;
    }

    .complaint-details-item {
        margin-bottom: 14px;
        flex-direction: column;
    }

    .complaint-details-subhead {
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .complaint-details-text {
        font-size: 15px;
    }

    .complaint-details-message-heading {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .complaint-details-text2 {
        font-size: 14px;
        padding-left: 0px;
    }

    .complaint-details-btn {
        margin: 10px 0px;
        padding: 6px 12px;
        font-size: 14px;
    }
}