.salary-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.salary-input {
    width: 48% !important;
}

.spoc-label {
    font-size: 16px;
    text-align: center;
    margin: 10px 0px;
}

.commission-select {
    width: 40%!important;
}

.emp-work-sub-con {
    width: 48%;
}

.emp-work-input {
    margin-top: 5px;
}

.commission-input-con {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #EB6A4D;
    width: 56%!important;
    margin-bottom: 16px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.commission-input {
    height: 100%;
    border: none;
    width: 35%!important;
    padding-left: 8px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
}

.rupee {
    padding-left: 10px;
}

.add-job-vacancies-form-con {
    width: 100%!important;
    max-width: 520px;
}

.bde-sub-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 6%;
}

.bde-form-con {
    display: flex;
    justify-content: center;
    width: 50%;
}

.bde-content-con {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.bde-sub-heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #EB6A4D;
    text-align: center;
}

.bde-sub-text {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .bde-sub-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0px 0%;
        margin-top: 0px;
    }

    .bde-form-con {
        width: 100%;
    }

    .bde-content-con {
        width: 100%;
        margin-top: 0px;
    }
}