.public-job-title {
    color: #000000;
    font-size: 20px;
    font-family: 'Roboto';
    margin: 0px;
    margin-bottom: 10px;
}

.public-jobs-loc-type-salary-con {
    display: flex;
    margin-top: 0px;
    margin-bottom: 5px;
    align-items: center;
}

.public-jobs-location-con {
    display: flex;
    align-items: center;
}

.public-job-dot {
    margin: 0px 7px;
    font-size: 20px;
    color: #777e85;
}

.public-job-location {
    color: #777e85;
    font-size: 12px;
    font-family: 'Roboto';
    margin: 0px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.public-job-type-icon {
    font-size: 18px;
    color: #EB6A4D;
    margin-right: 7px;
}

.public-job-location-icon {
    font-size: 20px;
    min-width: 22px;
    max-height: 22px;
    color: #EB6A4D;
    margin-right: 7px;
}

.public-list-item-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: row!important;
}

.public-jobs-logo-img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.public-jobs-loc-type-con {
    display: flex;
    align-items: center;
    width: 100%;
}

.openings-keyword-con {
    margin-top: 2px;
}

.job-section-keywords {
    font-size: 10px;
}

.public-job-logo {
    font-size: 70px;
    color: #bababa;
    margin-right: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .public-list-item-container {
        align-items: flex-start;
        flex-direction: column!important;
    }

    .public-jobs-logo-img {
        width: 35px;
        height: 35px;
        border-radius: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .public-job-logo {
        font-size: 35px;
        color: #bababa;
        margin-bottom: 10px;
    }

    .public-jobs-loc-type-con {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-dot-mobile {
        display: none;
    }

    .public-job-dot {
        font-size: 15px;
    }

    .public-jobs-location-con {
        margin-bottom: 3px;
    }

    .public-job-title {
        font-size: 16px;
    }

    .public-job-location {
        font-size: 11px;
    }
    
}