.public-apply-job-form {
    margin-top: 15vh;
    min-height: 85vh;
}



@media screen and (max-width: 768px) {
    .public-apply-job-form {
        margin-top: 10vh;
        min-height: 90vh;
    }

    .public-apply-form {
        width: 94%;
    }

    .public-application-button-con {
        display: flex;
        flex-direction: row;
    }
}