.candidate-table-job-section {
    width: 100%!important;
}

.jobs-section-candidate-container {
    padding: 0px!important;
    /* height: 100%;
    justify-content: flex-start;
    justify-content: space-between!important;
    position: relative; */
}

.job-section-select-filter-container {
    align-self: flex-start!important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.job-section-select-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.candidate-input-select {
    background-color: #EB6A4D;
    width: 100px;
    padding-left: 5px;
    font-size: 12px;
    height: 30px;
    margin-bottom: 0px;
    color: white;
}

.date-con {
    display: flex;
    align-items: center;
}

.interview-date-input {
    margin-right: 10px;
    width: 115px;
}

.no-candidates-error {
    color: #EB6A4D;
    font-size: 15px;
    padding: 12px 0px;
    background-color: #f7f2eb;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #EB6A4D;
    border-top: 0px;
    width: 100%;
}

.empty-candidates {
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.loading-text {
    color: #EB6A4D;
    font-size: 13px;
}

.view-candidates-search-input-con {
    margin-bottom: 15px!important;
}

.table-candidate-container {
    width: 100%;
    overflow-x: auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.table-candidate-container::-webkit-scrollbar {
    width: 5px;
  }

  .table-candidate-container::-webkit-scrollbar-thumb {
    background-color: #EB6A4D;
    border-radius: 5px;
  }

  .table-candidate-container::-webkit-scrollbar-track {
    background-color: #e3dfdf;
  }

  .table-candidate-container::-webkit-scrollbar-thumb:hover {
    background-color: #EB6A4D85;
  }

.job-details-candidates-table-cell-hover {
    color: #EB6A4D!important;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.candidate-details-modal-con {
    width: 35%;
    display: flex;
    box-shadow: 0px 0px 10px 0px #00000095;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #EB6A4D;
    position: relative;
    /* z-index: 1000000; */
}

.candidate-details-heading {
    font-size: 20px;
    color: #EB6A4D;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #EB6A4D;
}

.candidate-details-sub-con {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.candidate-details-sub-heading {
    font-size: 16px;
    color: #02022c;
    margin-right: 10px;
    font-weight: 600;
}

.candidate-details-sub-text {
    font-size: 16px;
    color: #02022c;
}

.candidate-details-close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    background-color: #EB6A4D;
    padding: 0px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.job-details-candidates-pagination-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
}

.pagination-class-candidates {
    margin: 0px;
}

.candidate-loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidate-failure-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.candidate-try-agian-btn {
    background-color: #EB6A4D;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 13px;
    border: 0px;
    outline: none;
}

.candidate-failure-text {
    color: gray;
    font-size: 14px;
}

.shedule-interview-button {
    padding: 0px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
}

.shedule-icon {
    font-size: 20px;
    color: #EB6A4D;
    
}

.view-candidates-select {
    width: 180px;
}

.rows-count-con {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
}

.rows-count-text {
    font-size: 18px;
    margin-right: 5px;
    color: #02022c;
}

.rows-count-number {
    font-size: 18px;
    color: #EB6A4D;
    font-weight: 600;
}

.selected-candidate-con {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .job-section-select-filter-container {
        justify-content: space-between;

    }
    .job-section-select-container {
        /* width: 48%; */
        margin-right: 6px;
    }
    .candidate-details-modal-con {
        width: 90%;
        padding: 20px 10px;
    }
    .candidate-details-heading {
        font-size: 18px;
    }
    .candidate-details-sub-heading {
        font-size: 14px;
    }
    .candidate-details-sub-text {
        font-size: 14px;
    }
    .candidate-details-close-btn {
        height: 25px;
        width: 25px;
        font-size: 25px;
    }
    .jobs-section-candidate-container {
        margin-top: 12px!important;
    }
    .view-candidates-select {
        width: 100%;
        height: 25px;
        font-size: 12px;
        width: 90px;
        padding-left: 5px;
    }
    .view-candidates-label {
        font-size: 11px;
    }
    .job-details-candidates-pagination-con {
        flex-direction: column;
    }

    .rows-count-con {
        margin-left: 0px;
    }

    .rows-count-text {
        font-size: 14px;
    }

    .rows-count-number {
        font-size: 14px;
    }

    .selected-candidate-con {
        margin-bottom: 0px;
    }
}