.navbar {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 15px 6%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.nav-logo {
    width: 120px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
}

.nav-item {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: bold;
}

.nav-link:hover {
    color: #EB6A4D;
}

.signup-button {
    /* background-color: #f9a828; */
    background-color: #EB6A4D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

@keyframes rotate {
    0% {border-color: red; color: red;}
    25% {border-color: orange; color: orange;}
    50% {border-color: green; color: green;}
    75% {border-color: blue; color: blue;}
    100% {border-color: red; color: red ;}
  }

.gender-btn {
    background-color: transparent;
    color: #EB6A4D;
    border: 2px solid #EB6A4D;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    animation: rotate 5s linear infinite;
}

.hamburger-menu {
    display: none;
}

.nav-options-con {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-options {
    width: 90%;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
}

.active-options {
    color: #EB6A4D;
}

.arrow-icon {
    font-size: 20px;
    color: #222222;
}

.active-icon {
    color: #EB6A4D;
}

.nav-options-list {
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000040;
    z-index: 1000;
    padding-left: 0px;
    padding: 10px;
    list-style-type: none;
    width: 220px;
}

.nav-options-item {
    margin: 15px 0px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #222222;
    text-decoration: none;
}

.nav-options-link {
    text-decoration: none;
    color: #222222;
    width: fit-content;
    line-height: 18px;
}

.nav-options-link:hover {
    color: #EB6A4D;
}

.nav-overlay {
    display: none;
}

.nav-bg-overlay {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 10vh;
        padding: 10px 5%;
    }

    .nav-logo {
        width: 90px;
    }

    .nav-list {
        display: none;
    }
    
    .hamburger-menu {
        display: block;
        padding: 0px;
        border: 0px;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }

    .menu-icon {
        font-size: 25px;
        color: #272727;
    }

    .nav-bg-overlay {
        position: fixed;
        top: 10vh;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #00000080;
        backdrop-filter: blur(3px);
        z-index: 1000;
        display: block;
    }
    
    .nav-overlay {
        position: fixed;
        top: 10vh;
        left: -80%;
        height: 90vh;
        width: 80%;
        background-color: #EB6A4D;
        z-index: 1001;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
        display: none;
        transition: left 1s ease;
    }

    .show-nav {
        display: flex;
        left: 0px;
        max-width: 320px;
        transition: left 1s ease;
        width: 80%;
    }

    .nav-list-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        padding-left: 0px;
        margin-left: 25px;
    }
    
    .nav-item-mobile {
        margin-top: 10px;
        position: relative;
    }

    .arrow-icon {
        color: #ffffff;
    }

    .nav-item {
        margin-left: 0px;
    }

    .nav-link {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }
    
    .nav-link:hover {
        color: #584f4d;
    }

    .nav-options {
        color: white;
    }

    .signup-button {
        margin-top: 5px;
        background-color: #ffffff;
        color: #EB6A4D;    
    }

    .nav-options-con {
        margin: 10px 0px;
    }

    .nav-options-list {
        top: 35px;
        width: 220px;
    }
    
}