.admin-sub-con {
    margin-top: 15vh;
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6%;
}

.admin-page-content-con {
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 30px;
}

.admin-page-content {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 15px;
    flex-wrap: wrap;
}

.admin-link {
    text-decoration: none;
    display: block;
    padding: 20px;
    height: 100%;
}

.admin-page-image-bg {
    width: 45%;
    height: 100%;
}

.admin-image {
    width: 100%;
}

.admin-btn {
    width: 140px;
    margin-right: 15px;
    border: 1px solid #EB6A4D;
    cursor: pointer;
    background-color: #EB6A4D25;
    outline: none;
    border-radius: 8px;
    padding: 0px;
    margin-bottom: 20px;
}

.create-user-modal {
    width: 40%;
}

.overflow-modal {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 95vh;
}

.create-user-modal::-webkit-scrollbar {
    width: 5px;
}

.create-user-modal::-webkit-scrollbar-thumb {
    background-color: #EB6A4D;
    border-radius: 10px;
}

.create-user-modal::-webkit-scrollbar-track {
    background: #EB6A4D30; /* color of the tracking area */
    padding: 4px 0; /* padding makes the track "thinner" */
}

.create-user-modal::-webkit-scrollbar-thumb:hover {
    background-color: #EB6A4D70;
}

.create-user-btn-con {
    margin-top: 0px!important;
}

.admin-icon {
    font-size: 85px;
    color: #EB6A4D;
}

.button-text {
    font-size: 15px;
    /* color: #ff9d00; */
    color: #EB6A4D;
    font-weight: 600;
    margin-top: 10px;
}

.admin-btn:hover {
    box-shadow: 0px 0px 10px 0px #EB6A4D;
}

@media screen and (max-width: 768px) {
    .admin-sub-con {
        flex-direction: column;
        margin-top: 10vh;
        padding: 0px 5%;
    }

    .create-user-modal {
        width: 90%;
    }

    .admin-page-content {
        padding: 0px 5px;
        margin-top: 10px;
        justify-content: space-between;
    }

    .admin-page-content-con {
        width: 100%;
        align-self: center;
        margin-top: 15px;
    }

    .admin-page-image-bg {
        display: none;
    }

    .admin-btn {
        width: 47%;
        margin-top: 15px;
        margin-bottom: 1%;
        margin-right: 0px;
    }

    .admin-icon {
        font-size: 70px;
    }
    
}

@media screen and (min-width: 1100px) {
    .create-user-modal {
        width: 30%!important;
    }
    
}